{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
عملیات با شکست روبه‌رو شد.
{% endblock title %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
        <div class="card-header">
            <div class="row">
                <h3 style="font-size: x-large;" class="card-title mb-0 col-12">اکانت شما فعال نشد</h3>
            </div>
        </div>
        
        <form method="post">{% csrf_token %}
            <div class="card-body">
                <p class="py-2">لینک شما منقظی شده یا اشتباه است لطفاً دوباره سعی نمایید.</p>
            </div>
        </form>
    </div>
</div>
{% endblock main %}