{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
تغییر گذرواژه
{% endblock title %}
{% block main %}
<div class="card card-primary">
  <div class="card-header">
    <h3 style="margin-left: 70rem; font-size:20px">تغییر گذرواژه</h3>
  </div>
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="form-group col-6">
          {{ form.old_password | as_crispy_field}}
        </div>
        <div class="col-6"></div>
        <div class="form-group col-6">
          {{ form.new_password1 | as_crispy_field}}
        </div>
        <div class="form-group col-6">
          {{ form.new_password2 | as_crispy_field}}
        </div>
    </div>
    <div class="card-footer row">
      <button type="submit" class="btn btn-danger col-2 ml-3"> تغییر گذرواژه </button>
    </div>
  </form>
</div>
{% endblock main %}