{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
رمز شما با موفقیت تغییر یافت.
{% endblock title %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <div class="row">
                <h3 style="font-size: x-large;" class="card-title mb-0 col-12">بازیابی رمزعبور</h3>
            </div>
        </div>
        
        <form method="post">{% csrf_token %}
            <div class="card-body">
                <p class="py-2">گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید. <br><br><a class="alert-link" href="{% url 'login' %}">ورود</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock main %}