<div class="nav collapse navbar-collapse" id="navbarResponsive">
    <ul class="nav navbar-nav ms-auto py-4 py-lg-0">
        <!-- <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:home' %}">خانه</a></li> -->
        {% for category in categoryies %}
            {% if category.parent == None %}
            <li style="margin-right: 1.2rem; margin-left: 1.2rem; font-size: 2rem !important;" class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4 row" href="{% url 'blog:category' category.id category.slug %}">{{ category.name }}</a>
                {% if category.children.all %}
                  {% include "blog/partials/category_loop.html" %}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>